@import "/imports/ui/stylesheets/variables/breakpoints";
@import "/imports/ui/components/modal/simple/styles";
@import "/imports/ui/stylesheets/mixins/focus";

.header {
  margin: 0;
  padding: 0;
  border: none;
  line-height: 2rem;
  border-bottom: 1px solid #D9D9D9 !important;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px !important;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.overlay {
  @extend .overlay;
}

.modal {
  padding: 0 !important;
  min-height: 17rem;
  max-width: 45rem;
  border-radius: 10px;
  .headerNoBorder{
      border-bottom: 1px solid #D9D9D9 !important;
  }

  h1{
      margin-left: 12px;
      text-align: initial !important;
      align-self: center !important;
  }
}
  
.actionWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    border-top: 1px solid #D9D9D9;

    button{
      // color: var(--color-primary);
      &:hover,
      &:focus{
        box-shadow: none !important;
      }
    }
  }
.copyurl{
  color: var(--color-primary);
}
.confirm,
.dismiss {

  // min-width: 6rem;
  // height: 1.875rem;
}
  
.dismiss {
  background-color:lightgray !important;
  // opacity: 0.1;
  // color: black;
  margin-right: var(--toast-md-margin);
}
  

.title {
  text-align: center;
  font-weight: 400;
  font-size: 1.3rem;
  white-space: normal;

  @include mq(var(--small-only)) {
    font-size: 1rem;
    padding: 0 1rem;
  }
}

.person,
.copyButton {
  margin: 0 var(--border-size) 0 var(--border-size);
  padding: 20px !important; 
  label {
    display: block;
  }

  input,textarea {
    @include inputFocus(var(--color-blue-light));
    display: block;
    margin: 0px 0px 10px 0px;
    padding: 0.2em 0.2em 0.2em 0.9em;
    color: var(--color-text);
    line-height: 2rem;
    width: 100%;
    font-family: inherit;
    font-weight: inherit;
    border: 1px solid var(--color-gray-lighter);
    border-radius: var(--border-radius);

    :global(.animationsEnabled) & {
      transition: box-shadow .2s;
    }
  }

  span {
    font-weight: 600;
  }
}
.copyButton{
  // display: none;
  // justify-content: space-between;
  // margin: 0 var(--border-size) 0 var(--border-size);
  // padding: 20px !important;
}
textarea {
  white-space: pre-line;
}
.displayLinebreak{
  white-space: pre-line;
}